@model SchoolManagementSystem.ViewModels.StudentViewModels

@{
    ViewBag.Title = "EditClass";
}
@{
    var EmployeeDropdown = "";
    var SubjectDropdown = "";
    foreach (var employee in
        Model.GetEmployee)
    {
        EmployeeDropdown = EmployeeDropdown + "<option value='" + employee.EmployeeId + "'>" + employee.Name + "</option>";
    }
    foreach (var Subject in Model.GetSubject)
    {
        SubjectDropdown = SubjectDropdown + "<option value='" + Subject.SubjectId + "'>" + Subject.SubjectName + "</option>";
    }
}
<input value="@EmployeeDropdown" id="empDropDown" hidden />
<input value="@SubjectDropdown" id="subDropDown" hidden />
<script>
    function addSubject() {
        $("#addNewSubject").append("<div class='form-group'><div class='col-md-2'> " + "<select class='form-control' name='teacherDetails' required>" +
            "<option value=''>-Select Teacher-</option>" + $("#empDropDown").val() + "</select>" +
            "</div ><div class='col-md-2'><select class='form-control' name = 'subjectDetails' required><option value=''>-Select Subject-</option>" +
            $("#subDropDown").val() + "</select></div></div>");
    }
    function removeSubject() {
        if ($("#addNewSubject div").length > 5) {
            $("#addNewSubject").contents().last().remove();
        }
    }
</script>

@using (Html.BeginForm())
{
    <div class="form-horizontal formPadding" id="addNewSubject">
        <h4>Class</h4>
        <hr />
        <div class="form-group" id="ClassDetails">
            @foreach (var Class in Model.GetClass)
            {
                <div class="col-md-2">
                    <input type="number" name="classId" class="form-control" placeholder="Class" value="@Class.ClassId" readonly="readonly" />
                </div>
                <div class="col-md-2">
                    <input type="text" name="className" class="form-control" placeholder="Class Name" value="@Class.ClassDetail.ClassName" readonly="readonly" />
                </div>
                break;
            }
        </div>
        @foreach (var Class in Model.GetClass)
        {
            <div class='form-group'>
                <div class='col-md-2'>
                    <select class='form-control' name='teacherDetails'>
                        <option value='@Class.Employee.EmployeeId'>@Class.Employee.Name</option>
                        @foreach (var employee in Model.GetEmployee)
                        {
                            <option value='@employee.EmployeeId'>@employee.Name</option>
                        }
                    </select>
                </div>
                <div class='col-md-2'>
                    <select class='form-control' name='subjectDetails'>
                        <option value='@Class.Subject.SubjectId'>@Class.Subject.SubjectName</option>
                        @foreach (var Subject in Model.GetSubject)
                        {
                            <option value='@Subject.SubjectId'>@Subject.SubjectName</option>
                        }
                    </select>
                </div>
            </div>
        }
    </div>
    <div class="form-group">
        <div class="col-md-6">
            <div class="col-md-offset-2 col-md-10 marginBottom">
                <input type="button" id="Add" class="btn btn-default" value="Add Subject" onclick="addSubject()" />
                <input type="button" id="Remove" class="btn btn-default" value="Remove Subject" onclick="removeSubject()" />
            </div>
        </div>
        <div class="col-md-9">
            <div class="col-md-offset-2">
                <input type="submit" value="Save" class="btn btn-default" />
                @Html.ActionLink("Back", "Classes", "Home", "", new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}

<div>
</div>
@if (ViewBag.Successful != null)
{
    <script type="text/javascript" >
        var Class = $('input[name=classId]').val();
        swal({
                title: "Success!",
                type: "success",
                text: "@ViewBag.Successful",
                @*closeOnConfirm: false,*@
            }, function () {
               // window.location.href = "@Url.Action("Classes", "Home")" + "?data=" + Class;
            });
    </script>
    ViewBag.Successful = null;
}
