@model IEnumerable<SchoolManagementSystem.Models.Employee>

@{ ViewBag.Title = "TeacherView"; }

@{
    string previousPage = "";
    if (Request.UrlReferrer != null)
    {
        previousPage = Request.UrlReferrer.LocalPath;
    }
}

<script>
    function RedirectPage() {
        window.location.href = "@previousPage";
    }
</script>
<body style="margin-top:0px">
    <link href="~/Content/style1.css" media="all" rel="stylesheet" type="text/css" />
    <link href="//fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,400,700" rel="stylesheet" />
    <link href="//fonts.googleapis.com/css?family=Text+Me+One" rel="stylesheet" />
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet" />
    <link href="~/Content/design.css" rel="stylesheet" />

    <div class="main-section">

        @foreach (var item in Model)
        {

<div>
    <div class="child-left">
        @{ if (item.Photo != null)
            {
                var data = item.Photo.Replace("~", "");
<img alt="image" height="255" width="255" src="@data" /> } }
    </div>

    <div class="child-right studentBackground">
        <h3>Name: @Html.DisplayFor(modelItem => item.Name)</h3>

        <h5>Designation : @Html.DisplayFor(modelItem => item.Designation)</h5>

        <ul class="address">
            <li class="Detail">
                <ul class="agileits-address-text">
                    <li><b>Father Name</b></li>
                    <li><span>:</span>@Html.DisplayFor(modelItem => item.FatherName)</li>
                </ul>
            </li>
            <li class="Detail">
                <ul class="agileits-address-text">
                    <li><b>Mother Name</b></li>
                    <li><span>:</span>@Html.DisplayFor(modelItem => item.MotherName)</li>
                </ul>
            </li>
            @{ var date = item.DateOfBirth.ToString("dd/MMM/yyyy"); }
            <li class="Detail">
                <ul class="agileits-address-text ">
                    <li class="agile-it-adress-left"><b>Date of Birth</b></li>
                    <li><span>:</span>@Html.DisplayFor(modelItem => date)</li>
                </ul>
            </li>
            @{ date = item.YearOfJoining.ToString("dd/MMM/yyyy"); }
            <li class="Detail">
                <ul class="agileits-address-text">
                    <li class="agile-it-adress-left"><b>Year of Joining</b></li>
                    <li><span>:</span>@Html.DisplayFor(modelItem => date)</li>
                </ul>
            </li>
            <li class="Detail">
                <ul class="agileits-address-text">
                    <li><b>Experience</b></li>
                    <li><span>:</span>@Html.DisplayFor(modelItem => item.Experience)</li>
                </ul>
            </li>

            <li class="Detail">
                <ul class="agileits-address-text">
                    <li><b>Contact Number</b></li>
                    <li><span>:</span>@Html.DisplayFor(modelItem => item.MobileNumber)</li>
                </ul>
            </li>
            <li class="Detail">
                <ul class="agileits-address-text">
                    <li><b>Address</b></li>
                    <li><span>:</span>@Html.DisplayFor(modelItem => item.Address)</li>
                </ul>
            </li>
            <li class="Detail">
                <ul class="agileits-address-text">
                    <li><b>E-Mail</b></li>
                    <li><span>:</span>@Html.DisplayFor(modelItem => item.Email)</li>
                </ul>
            </li>

        </ul>
    </div>

    <div class="clear">&nbsp;</div>
</div>      }
    </div>
    <div class="centerAlign">
        <a class="btn btn-default" onclick="RedirectPage()">Back</a>
    </div>

</body>